@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --cream: 249, 245, 227;
  --purple-light: 154, 140, 152;
  --purple-mid: 74, 78, 105;
  --purple-dark: 34, 34, 59;
  --purple-deep: 25, 25, 45;
  --mustard: 255, 188, 66;
  --ras-pink: 216, 17, 89;
  --pink-light: 202, 173, 167;

}



#root{
  max-width: 1980px;
  margin: 0 auto;
}

body {
  background-color: rgb(var(--cream))
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Global Scrollbar Styling */

::-webkit-scrollbar {
  width: 10px;
  border-radius: 3px;
}



::-webkit-scrollbar-track {
  background: rgba(var(--cream),1);
  border-radius: 5px;
  border: 2px solid rgb(var(--cream));
  background-clip: content-box; 
  
}

@media (max-width: 950px) {
  ::-webkit-scrollbar-track {
    background-color: rgba(var(--mustard),1);
    border: 2px solid rgb(var(--mustard));
    border-radius: 2px;
  }
}

::-webkit-scrollbar-thumb {
  background:rgba(var(--ras-pink), 1);
  width: 10px;
  
  border-radius: 1px;

}